<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <property name="log-dir">logs</property>
        <property name="archive">${log-dir}/archive</property>
        <property name="pattern">%d %-5p [%t] %C{2} (%F:%L) - %m%n</property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="DebugLog"
                     fileName="${log-dir}/debug.log"
                     filePattern="${archive}/debug.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${pattern}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <RollingFile name="FatalLog"
                     fileName="${log-dir}/fatal.log"
                     filePattern="${archive}/fatal.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${pattern}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <Async name="Debug">
            <AppenderRef ref="DebugLog"/>
        </Async>

        <Async name="Fatal">
            <AppenderRef ref="FatalLog"/>
        </Async>

    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Debug"/>
            <AppenderRef ref="Fatal" level="fatal"/>
        </Root>

        <Logger name="org.springframework.web" level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Debug"/>
            <AppenderRef ref="Fatal" level="fatal"/>
        </Logger>

    </Loggers>

</Configuration>