<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:component-scan base-package="org.itevents" >-->
    <!--<context:exclude-filter type="annotation"-->
    <!--expression="org.springframework.stereotype.Controller"/>-->
    <!--<context:exclude-filter type="annotation"-->
    <!--expression="org.springframework.web.bind.annotation.RestController"/>-->
    <!--</context:component-scan>-->

    <bean name="dataStore" class="org.itevents.datastore.MyBatisEventStore"/>

    <bean name="initDataStoreService" class="org.itevents.service.InitDataStoreService"
            init-method="init">
        <property name="dataStore" ref="dataStore"/>
    </bean>

    <bean name="eventService" class="org.itevents.service.EventServiceImpl">
        <property name="dataStore" ref="dataStore"/>
    </bean>


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database.properties"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${database.driver}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>

    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="statisticMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="org.itevents.service.StatisticMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>