# Create copy of this file in same directory with name "local.properties" and update value of properties

# Database
database.driver=org.postgresql.Driver
database.url=jdbc:postgresql://HOST:PORT/DATABASE_NAME
database.username=DB_USERNAME
database.password=DB_PASSWORD

# Liquibase
changeLogFile=src\\main\\resources\\liquibase\\db.changelog-master.xml


# SendGrid
sendgrid_api_key=SEND_GRID_TOKEN


httpPort=8080
stopPort=9080
stopKey=stop

