<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
    <http>
        <intercept-url pattern="/user**" access="isAuthenticated()"/>
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/**" access="permitAll()"/>

        <form-login login-page='/login'
                    default-target-url="/user"
                    authentication-failure-url="/login?error=true"
                    username-parameter="user_login"
                    password-parameter="password_login"/>

        <logout logout-success-url="/login"/>

        <access-denied-handler error-page="/login?denied=true"/>
    </http>
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="user" authorities="ROLE_subscriber"/>
                <user name="admin" password="admin" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>