<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itevents.mapper.EventMapper">

    <resultMap id="eventMap" type="org.itevents.model.Event" autoMapping="true">
        <result property="eventDate" column="event_date"/>
        <result property="createDate" column="create_date"/>
        <result property="regLink" column="reg_link"/>
        <association property="location" column="id" javaType="org.itevents.model.Location"
                     select="org.itevents.mapper.LocationMapper.selectLocation"/>
        <association property="currency" column="currency_id" javaType="org.itevents.model.Currency"
                     select="org.itevents.mapper.CurrencyMapper.getCurrency"/>
        <association property="city" column="city_id" javaType="org.itevents.model.City"
                     select="org.itevents.mapper.CityMapper.getCity"/>
    </resultMap>

    <select id="getFilteredEvents"
            parameterType="org.itevents.controller.FilterEventParams"
            resultMap="eventMap"
            >

        SELECT * FROM events

        <where>
            <if test="cityId != null">
                city_id = #{cityId}
            </if>
            <if test="payed != null">
                AND price > 0
            </if>
            <if test="radius != null ">
                AND ST_DWithin((point)::geography,
                ST_MakePoint(#{longitude},#{latitude})::geography, #{radius})
            </if>
            <if test="techTags!=null">
                AND id IN
                (SELECT events_id FROM cross_events_technologies WHERE technologies_id IN
                <foreach item="techTag" index="index" collection="techTags" open="(" separator="," close=")">
                    #{techTag}
                </foreach>
                )
            </if>
        </where>
    </select>

</mapper>
