<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dbUnitDatabaseConnection" class="org.itevents.test_utils.dbunit.DbUnitDatabaseConnection"/>
    <bean id="userService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.itevents.service.UserService"/>
    </bean>
    <bean id="roleService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.itevents.service.RoleService"/>
    </bean>
    <bean id="eventService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.itevents.service.EventService"/>
    </bean>
    <bean id="visitLogService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.itevents.service.VisitLogService"/>
    </bean>
    <bean id="filterService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.itevents.service.FilterService"/>
    </bean>
</beans>