# Create copy of this file in same directory with name "test-local.properties" and update value of properties

# Database
database.driver=org.postgresql.Driver
database.url=jdbc:postgresql://HOST:PORT/TEST_DATABASE_NAME
database.username=DB_USERNAME
database.password=DB_PASSWORD

# Liquibase
changelog.file=src\\test\\resources\\liquibase\\db.changelog-create.xml

# SendGrid
sendgrid.api.key=SEND_GRID_TOKEN

# JWTCryptTokenService
jwt.key=password

# UserService
user.activation.otp.lifetime.hours = 24